<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="simpleConfig">
      <section name="nvSection" type="System.Configuration.NameValueSectionHandler"/>
      <section name="dicSection" type="System.Configuration.DictionarySectionHandler"/>
      <section name="stSection" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>

    <section name="MultipleElementSection" type="Simon.Configuration.Demo.MultipleElementSection, Simon.Configuration.Demo"/>

    <section name="Providers" type="Simon.Configuration.Demo.ProviderSection, Simon.Configuration.Demo"/>

    <section name="SingleSection" type="Simon.Configuration.Demo.SingleSection, Simon.Configuration.Demo"/>

    <section name="SingleElementSection" type="Simon.Configuration.Demo.SingleElementSection, Simon.Configuration.Demo"/>

    <sectionGroup name="section.group" type="Simon.Configuration.Demo.SectionGroup, Simon.Configuration.Demo">
      <section name="first" type="Simon.Configuration.Demo.SingleElementSection, Simon.Configuration.Demo"/>
      <section name="second" type="Simon.Configuration.Demo.SingleSection, Simon.Configuration.Demo"/>
    </sectionGroup>

    <section name="ValidationSection" type="Simon.Configuration.Demo.ValidationSection, Simon.Configuration.Demo"/>

    <sectionGroup name="companies">
      <section name="company" type="Simon.Configuration.Demo.CommandHandler,Simon.Configuration.Demo"/>
    </sectionGroup>    
  </configSections>

  <simpleConfig>
    <nvSection>
      <add key="a" value="1"/>
      <add key="b" value="2"/>
    </nvSection>

    <!--<dicSection>
      <add key="a" value="1"/>
      <add key="b" value="2"/>
    </dicSection>-->
    <dicSection configSource="dicSection.config" />

    <stSection name="a" value="1"/>
  </simpleConfig>

  <MultipleElementSection configSource="commands.config" />

  <Providers name="default">
    <provider name="online" type="DocAve.SPMigration.Online" />
    <provider name="offline" type="DocAve.SPMigration.Offline" />
  </Providers>

  <SingleSection name="default" type="DocAve.SPMigration.Online" />

  <SingleElementSection>
    <SingleTag name="defalut" value="DocAve.SPMigration.Offline" />
  </SingleElementSection>

  <section.group>
    <first>
      <SingleTag name="defalut" value="DocAve.SPMigration.Offline" />
    </first>

    <second name="default" type="DocAve.SPMigration.Online" />
  </section.group>

  <ValidationSection name="a" value="100" customValue="100" url="abc" myString="L:10,W:10,H:10" />

  <companies>
    <company>
      <detail name="a" doorNo="b" street="c" city="d" postalCode="10" country="f" />
      <detail name="x" doorNo="b" street="c" city="d" postalCode="10" country="f" />
    </company>
  </companies>
</configuration>
