<?xml version="1.0" encoding="utf-8" ?>
<MultipleElementSection name="SPMigration">
<commands>
  <command name="online" provider="DocAve.SPMigration.Online" type="DocAve.SPMigration.Online,DocAve.SPMigration" />
  <command name="offline" provider="DocAve.SPMigration.Offline" type="DocAve.SPMigration.Offline,DocAve.SPMigration" />
</commands>
</MultipleElementSection>